<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            SleepTracker
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="header">Track your sleep</div>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="data">
    <div id="data-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Data & Analytics
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="header">View your data</div>
      </ion-content>
    </div>
  </ion-tab>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="data">
      <ion-icon name="analytics"></ion-icon>
      Data
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>