<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>SleepTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- Dynamic Section Switching -->
  <div *ngIf="selectedSegment === 'home'">
    <ion-grid>
      <div class="content">
        <ion-row>
          <ion-col>
            <div class="date">
              <h1 style="font-weight: bold; font-size: 40px;">{{ currentWeekDay }}</h1>
              <h4>{{ currentDate }}</h4>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <!-- Display Date Section -->
            <div class="logging-container">
              <p>Time in Bed Last Night</p>
              <div class="logging">
                <!-- Display most recent sleep time -->
                <h2>12:00 AM - 7:12 AM</h2>
                <h2>7hrs 12min</h2>
              </div>
              <ion-button shape="round" (click)="setOpen(true)">Log Sleep</ion-button>

              <!-- Inline Modal for Logging Sleep -->
              <ion-modal class="log-modal" [isOpen]="isModalOpen" (ionModalDidDismiss)="setOpen(false)">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Log Sleep</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  
                  <ion-content class="ion-padding">
                    <h3>Select Sleep Time</h3>
                    <ion-datetime 
                    presentation="date-time" 
                    [preferWheel]="true" 
                    id="sleepTimePicker"
                    [(ngModel)]="sleepTime"
                    
                    ></ion-datetime>
        
                    <h3>Select Wake-Up Time</h3>
                    <ion-datetime 
                    presentation="date-time" 
                    [preferWheel]="true" 
                    id="wakeTimePicker"
                    [(ngModel)]="wakeTime"
                    ></ion-datetime>
  
                    <ion-button expand="block" shape="round" (click)="saveSleepData()">Save</ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>  
            </div>
      
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="logging-container">
              <p>How's your sleepiness?</p>
              <div class="logging">
              </div>
              <ion-button id="log-sleepiness" expand="block" shape="round">Log Sleepiness</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div *ngIf="selectedSegment === 'data'">
    <h1>Data & Analytics</h1>
    <p>View your sleep data here.</p>
  </div>
</ion-content>

<!-- Custom Bottom Navbar -->
<ion-footer>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="home">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="data">
        <ion-icon name="analytics"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
